[Unit]
Description=Bank unit from TMS

[Service]
Type=forking
WorkingDirectory=/home/bank/project
ExecStart=/usr/local/bin/poetry run -- python /home/bank/project/main.py
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target